#header {
	background-color : #66CCFF;
	text-align : center;
	color : white;
}

#container {
	width : 800px;
	margin-left:auto;
	margin-right:auto;
}

h1,h2,h3{line-height:1.2}

#content{
	border: 2px solid red;
    	padding: 10px;
    	border-radius: 25px;
}

#footer{
	text-align: right;
}


