#header {
	background-color : #66CCFF;
	text-align : center;
	color : white;
}

#container {
	width : 800px;
	margin-left:auto;
	margin-right:auto;
}

h1,h2,h3{line-height:1.2}

#content{
	border: 2px solid #66CCFF;
    	padding: 10px;
    	border-radius: 12px;
	margin: 10px 0 0 0;
}

.left {
	float: left;
	padding: 0 20px 20px 0;
}

#footer{
	text-align: right;
}


